
/* Fonts im Firefox */

# Firefox.
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'),
       local('Roboto-Thin'),
       url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'),
       local('Roboto-ThinItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'),
       local('Roboto-LightItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'),
       local('Roboto-MediumItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'),
       local('Roboto-BoldItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'),
       local('Roboto-Black'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'),
       local('Roboto-BlackItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}


/* Fonts im Chrome */

# Chrome.
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'),
       local('Roboto-Thin'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'),
       local('Roboto-ThinItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'),
       local('Roboto-LightItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'),
       local('Roboto-MediumItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'),
       local('Roboto-BoldItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'),
       local('Roboto-Black'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'),
       local('Roboto-BlackItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Fonts im Safari */

# Safari.
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'),
       local('Roboto-Thin'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'),
       local('Roboto-ThinItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'),
       local('Roboto-LightItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'),
       local('Roboto-MediumItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'),
       local('Roboto-BoldItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'),
       local('Roboto-Black'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'),
       local('Roboto-BlackItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}


/* allgemein Fonts */

#IE.
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
}


# Final:
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'),
       local('Roboto-Thin'),
       url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'),
       local('Roboto-ThinItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg13YhjbSpvc47ee6xR_80Hnw.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'),
       local('Roboto-LightItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype'),
       url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype'),
       url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'),
       local('Roboto-MediumItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype'),
       url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype'),
       url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: Italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'),
       local('Roboto-BoldItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype'),
       url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'),
       local('Roboto-Black'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype'),
       url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'),
       local('Roboto-BlackItalic'),
       url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype'),
       url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* Elements */

#container {
  width: 100%;
  height: 100vh;
  transition: all 1s ease-out;
  background-image: url("images/vhintergrund.gif");
  background-size:cover;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.label {
  font-size: 2em;
  position: relative;
  font-family: 'Roboto';
  font-weight: 100;
  display: inline-block;
  white-space: nowrap;
  margin-top: 40px;
  margin-left: -23px;
  color: #999999;
}

.leaflet-div-icon {
  background-color: rgba(230, 230, 230, 0) !important;
  border: none !important;
  width: 5px !important;
  z-index: 100 !important;
  height: 30px !important;
  margin-top: -15px !important
}

.leaflet-marker-icon.timeline-part {
  height: 3px !important;
  width: 2000px !important;
  background-color: gray !important;
  z-index: 90 !important;
  margin-left: -1000px !important;
}

#timelineviewer {
  background:none;
  /*background-image: url("images/diplomarbeit_hintergrund_aristoteles.jpg");
  background-size:cover;*/
}

.leaflet-marker-pane img {
  opacity: 1 !important;
  z-index: 1000 !important;
}

.leaflet-marker-pane img:hover {
  opacity: 1 !important;
}

div#title {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 1000;
  margin-top: 20px;
  margin-left: 20px;
  pointer-events: none;
  text-shadow: 3px 3px 4px #777;
}

#title h2 {
  font-size: 1.5em;
  font-family: 'Roboto';
  font-weight: 700;
  margin: 0;
  color: rgb(255, 255, 255);
}

#title h1 {
  font-family: 'Roboto-Thin', sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

/*.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border: none !important;
  margin-right: 20px;
  margin-bottom: 20px;
}*/

.leaflet-bar a {
  border-bottom: none !important;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-touch .leaflet-bar a {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

div#fulltimeline {
  position: absolute;
  z-index: 1000;
  width: 140px;
  height: 35px;
  background: rgb(180,180,180,0.7);
  right: 30px;
  bottom: 20px;
  font-family: 'Roboto';
  font-size: 17px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  border-radius: 5px;
}

div#fulltimeline:hover {
  background: #f4f4f4;
}

/* Zoom Slider Controls */

/*.leaflet-control-zoomslider {
  margin-bottom: 20px !important;
  margin-right: 20px !important;
}

.leaflet-control-zoomslider.leaflet-bar.leaflet-control {
  border: none !important;
  width: 35px !important;
  box-shadow: none !important;
  background-color: #ffffff;
  border-radius: 0px;
}

.leaflet-bar-part {
  width: 35px !important;
}

.leaflet-control-zoomslider-wrap {
  border-bottom: none !important;
}

.leaflet-control-zoomslider-knob {
  background-color: #333333 !important;
  border: none !important;
  height: 6px !important;
}

.leaflet-control-zoomslider-body {
  background-color: #cccccc !important;
}

.leaflet-touch .leaflet-control-zoomslider a:hover {
  width: 35px !important;
  line-height: 35px !important;
}*/

/* Zoom Box Controls */

/*.leaflet-zoom-box-control.leaflet-bar.leaflet-control {
  position: absolute !important;
  left: -162px !important;
  bottom: 58px !important;
  width: 157px !important;
  border: none !important;
  background: #fff !important;
  border-radius: 0px !important;
  height: 35px !important;
  box-shadow: none !important;
}*/

a.zoomBox {
  width: 100% !important;
  margin: 0 !important;
  font-family: 'Roboto' !important;
  text-transform: uppercase !important;
  font-size: 17px !important;
  height: 30px;
}

.leaflet-zoom-box {
  border: 4px #333333 dashed !important;
}

/* Notification */

#notification-holder {
  position: absolute;
  top: 150px;
  overflow: auto;
  width: 100%;
}

#notification {
  margin: 0 auto;
  background-color: #333333;
  padding: 10px 20px;
  text-align: center;
  width: 90%;
  max-width: 450px;
  color: #ffffff;
  font-family: 'Roboto';
  border-radius: 17px;
  z-index: 1000;
  opacity: 0;
}

/* Popup */

.customPopup .columnLeft {
  float: left;
  width: 118px;
  height: 170px;
  text-align: right;
  margin-left: 244px;
  padding-right: 10px;
  padding-top:10px;
  border-right: #000 solid 2px;
  pointer-events: none;
  padding-bottom: 35px;
  z-index: 1;
}

.customPopup .columnRight {
  float: left;
  width: 314px;
  height: 170px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
  z-index: 1;
}

.leaflet-popup-content {
  overflow: auto !important;
  margin: 0px !important;
  font-family: 'Roboto';
}

.leaflet-popup-content-wrapper, .leaflet-popup.leaflet-zoom-animated {
  box-shadow: none !important;
  background: none;
  pointer-events: none;
  margin-bottom: 10.5px;
}


/*.leaflet-popup {
    left: -130px !important;
}*/


.leaflet-popup-tip-container {
  display: none;
}

.columnLeft h3, .columnRight h3 {
  margin: 0;
  font-weight: 700;
  font-family: 'Roboto';
}

.columnRight h3 {
  margin-bottom: 2px;
  padding-left:5px;
}

.columnRight p {
  line-height: 1.5;
  font-size: 1.1em;
  margin: 0px;
  hyphens: auto;
  color: white;
  padding: 5px;
  margin-bottom: 0px;

}

#mapviewer .columnRight p {
  color: white;
  z-index: 1;
}

.columnRight {
  overflow: hidden;
}

.columnRight a {
  text-decoration: none;
  color: orange;
  position: fixed;
  overflow; auto;
}

a.leaflet-popup-close-button {
  display: none;
}

/* popup below stuff */

.popUpBelow {
  bottom: unset !important;
  top: 0px !important;
}

.popUpBelow .columnLeft, .popUpBelow .columnRight {
  padding: 10px;
  padding-bottom: 40px !important;
}

div#iconkey {
  position: absolute;
  z-index: 510;
  right: 20px;
  text-align: right;
  font-family: 'Roboto';
  font-size: .75em;
  line-height: 1.7em;
  text-transform: uppercase;
}

#iconkey ul {
  list-style-type: none;
}

div#viewerselector {
  position: absolute;
  z-index: 510;
  width: 100%;
  overflow: auto;
}

#viewerselector ul li a {
  display: block;
  text-align: center;
  width: 120px;
  float: left;
  color: #fff;
  background: rgb(10,10,10,0.8);
  height: 30px;
  padding-top: 10px;
  font-family: 'Roboto';
  font-size: 16px;
  text-transform: uppercase;
  z-index: 510;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}

#viewerselector ul li a:hover {
  background-color: rgb(80,80,80,0.7);
}

#viewerselector ul {
  overflow: auto;
  list-style: none;
  cursor: pointer;
  padding: 5px 20px 20px 20px;

}

#mapviewer .columnRight {
  padding:10px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 5px 5px 0px;
}

#timelineviewer .columnRight {
  padding:10px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 5px 5px 0px;
}

#mapviewer .columnLeft h3 {
  text-shadow: 0px 2px black;
}

#mapviewer .columnLeft {
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px 0px 0px 5px;
}

#timelineviewer .columnLeft {
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px 0px 0px 5px;
}

div#attribution {
  position: absolute;
  right: 70px;
  bottom: 20px;
  z-index: 500;
  color: white;
  font-size: 10px;
  font-family: 'Roboto';
  padding-left: 15px;
}

div#attribution a {
  color: white;
}

#title-mobile {
  position: absolute;
  z-index: 1000;
  font-family: 'Roboto';
  text-align: center;
  width: 100%;
  font-weight: 800;
  font-size: 24px;
  margin-top: 10px;
  color: #333333;
  display: none;
}

#mobile-title2 {
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 5px;
  color: #999999;
  font-family: 'Roboto';
}

.leaflet-zoom-box-control.leaflet-bar.leaflet-control a.zoomBox {
  line-height: 36px !important;
  height: 36px !important;
}

div#mobilepopupholder {
  display: none;
  z-index: 1;
}

/* Mobile Version */

@media (max-width: 600px) {
  div#iconkey {
    right: auto;
    text-align: left;
    bottom: 25px;
    display: block;
    left: -15px
  }
  div#viewerselector {
    margin-top: 0px;
  }
  .notreal div#title {
    bottom: auto;
    top: -18px;
    transform: scale(0.8);
    left: -8px;
  }
  .leaflet-zoom-box-control {
    display: none;
  }
  #title-mobile {
    display: block;
  }
  #title {
    display: none;
  }
  #timelineviewer {
    height: 100vh !important;
    margin-top: 0px;
  }
  #container {
    background-color: #e6e6e6;
    position: absolute;
  }
  div#mobilepopupholder {
    position: fixed;
    bottom: 0px;
    width: 90%;
    z-index: 1000;
    background-color: #ffffff;
    padding: 10px 5% 20px 5%;
    display: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  }
  #mobilepopupholder .year-location {
    font-family: 'Roboto';
    font-size: 1.2em;
    border-bottom: solid 2px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 700;
  }
  #mobilepopupholder .title {
    font-family: 'Roboto';
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  #mobilepopupholder .description {
    font-size: 1em;
    font-family: 'Roboto';
    line-height: 1.5em;
  }
  #mobilepopupholder a.exit img {
    width: 50px;
    height: 50px;
    position: relative;
    float: right;
    top: -35px;
  }
  #mobilepopupholder a.exit {
    background-color: lightgray;
  }
  .customPopup {
    display: none;
  }
}

#mobilepopupholder a {
  color: orange;
  text-decoration: none;
}
