@font-face {
    font-family: 'roboto';
    src: url('./fonts/Roboto-Black.ttf') format('ttf')
         url('./fonts/Roboto-BlackItalic.ttf') format('ttf')
         url('./fonts/Roboto-Bold.ttf') format('ttf')
         url('./fonts/Roboto-BoldItalic.ttf') format('ttf')
         url('./fonts/Roboto-Italic.ttf') format('ttf')
         url('./fonts/Roboto-Light.ttf') format('ttf')
         url('./fonts/Roboto-LightItalic.ttf') format('ttf')
         url('./fonts/Roboto-Medium.ttf') format('ttf')
         url('./fonts/Roboto-MediumItalic.ttf') format('ttf')
         url('./fonts/Roboto-Regular.ttf') format('ttf')
         url('./fonts/Roboto-Thin.ttf') format('ttf')
         url('./fonts/Roboto-ThinItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


#container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'roboto', sans-serif;
}

.label {
  font-size: 2em;
  position: relative;
  font-family: 'roboto';
  font-weight: 100;
  display: inline-block;
  white-space: nowrap;
  margin-top: 40px;
  margin-left: -23px;
  color: #999999;
}

.leaflet-div-icon {
  background-color: rgba(230, 230, 230, 0) !important;
  border: none !important;
  width: 5px !important;
  z-index: 100 !important;
  height: 30px !important;
  margin-top: -15px !important
}

.leaflet-marker-icon.timeline-part {
  height: 3px !important;
  width: 1000px !important;
  background-color: gray !important;
  z-index: 90 !important;
  margin-left: -500px !important;
}

#timelineviewer {
  background-color: black;
  /*background-image: url("images/historia-martha-vineyard-dark.jpg");*/
  /*background-size:cover;*/
}

.leaflet-marker-pane img {
  opacity: 1 !important;
  z-index: 1000 !important;
}

.leaflet-marker-pane img:hover {
  opacity: 1 !important;
}

div#title {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 1000;
  margin-top: 20px;
  margin-left: 20px;
  pointer-events: none;
}

#title h2 {
  font-size: 1.5em;
  font-family: 'roboto';
  font-weight: 700;
  margin: 0;
  color: rgb(255, 255, 255);
}

#title h1 {
  font-family: 'roboto';
  font-weight: 100;
  margin: 0;
  font-size: 3em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

/*.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border: none !important;
  margin-right: 20px;
  margin-bottom: 20px;
}*/

.leaflet-bar a {
  border-bottom: none !important;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-touch .leaflet-bar a {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

div#fulltimeline {
  position: absolute;
  z-index: 1000;
  width: 157px;
  height: 35px;
  background: rgb(180,180,180,0.7);
  right: 30px;
  bottom: 20px;
  font-family: 'roboto';
  font-size: 17px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

div#fulltimeline:hover {
  background: #f4f4f4;
}

/* Zoom Slider Controls */

/*.leaflet-control-zoomslider {
  margin-bottom: 20px !important;
  margin-right: 20px !important;
}

.leaflet-control-zoomslider.leaflet-bar.leaflet-control {
  border: none !important;
  width: 35px !important;
  box-shadow: none !important;
  background-color: #ffffff;
  border-radius: 0px;
}

.leaflet-bar-part {
  width: 35px !important;
}

.leaflet-control-zoomslider-wrap {
  border-bottom: none !important;
}

.leaflet-control-zoomslider-knob {
  background-color: #333333 !important;
  border: none !important;
  height: 6px !important;
}

.leaflet-control-zoomslider-body {
  background-color: #cccccc !important;
}

.leaflet-touch .leaflet-control-zoomslider a:hover {
  width: 35px !important;
  line-height: 35px !important;
}*/

/* Zoom Box Controls */

/*.leaflet-zoom-box-control.leaflet-bar.leaflet-control {
  position: absolute !important;
  left: -162px !important;
  bottom: 58px !important;
  width: 157px !important;
  border: none !important;
  background: #fff !important;
  border-radius: 0px !important;
  height: 35px !important;
  box-shadow: none !important;
}*/

a.zoomBox {
  width: 100% !important;
  margin: 0 !important;
  font-family: 'roboto' !important;
  text-transform: uppercase !important;
  font-size: 17px !important;
  height: 30px;
}

.leaflet-zoom-box {
  border: 4px #333333 dashed !important;
}

/* Notification */

#notification-holder {
  position: absolute;
  top: 150px;
  overflow: auto;
  width: 100%;
}

#notification {
  margin: 0 auto;
  background-color: #333333;
  padding: 10px 20px;
  text-align: center;
  width: 90%;
  max-width: 450px;
  color: #ffffff;
  font-family: 'roboto';
  border-radius: 17px;
  z-index: 1000;
  opacity: 0;
}

/* Popup */

.customPopup .columnLeft {
  float: left;
  width: 118px;
  height: 170px;
  text-align: right;
  margin-left: 244px;
  padding-right: 10px;
  padding-top:10px;
  border-right: #000 solid 2px;
  pointer-events: none;
  padding-bottom: 35px;
}

.customPopup .columnRight {
  float: left;
  width: 314px;
  height: 170px;
  text-align: left;
  /*padding-left: 10px;
  padding-right: 10px;*/
  pointer-events: none;
  z-index: 1;
}

.leaflet-popup-content {
  overflow: auto !important;
  margin: 0px !important;
  font-family: 'roboto';
}

.leaflet-popup-content-wrapper, .leaflet-popup.leaflet-zoom-animated {
  box-shadow: none !important;
  background: none;
  pointer-events: none;
}

/*
.leaflet-popup {
    left: -130px !important;
}
*/

.leaflet-popup-tip-container {
  display: none;
}

.columnLeft h3, .columnRight h3 {
  margin: 0;
  font-weight: 700;
  font-family: 'roboto';
}

.columnRight h3 {
  margin-bottom: 2px;
  padding-left:5px;
}

.columnRight p {
  line-height: 1.5;
  font-size: 1.1em;
  margin: 0px;
  hyphens: auto;
  color: white;
  padding: 5px;

}

#mapviewer .columnRight p {
  color: white;
}

.columnRight {
  overflow: hidden;
}

.columnRight a {
  text-decoration: none;
  color: orange;
  position: fixed;
  overflow; auto;

}

a.leaflet-popup-close-button {
  display: none;
}

/* popup below stuff */

.popUpBelow {
  bottom: unset !important;
  top: 20px !important;
}

.popUpBelow .columnLeft, .popUpBelow .columnRight {
  padding-top: 35px;
  padding-bottom: 0px !important;
}

div#iconkey {
  position: absolute;
  z-index: 510;
  right: 20px;
  text-align: right;
  font-family: 'roboto';
  font-size: .75em;
  line-height: 1.7em;
  text-transform: uppercase;
}

#iconkey ul {
  list-style-type: none;
}

div#viewerselector {
  position: absolute;
  z-index: 510;
  width: 100%;
  overflow: auto;
}

#viewerselector ul li a {
  display: block;
  text-align: center;
  width: 120px;
  float: left;
  color: #fff;
  background: rgb(50,50,50,0.4);
  height: 30px;
  padding-top: 10px;
  font-family: 'roboto';
  font-size: 16px;
  text-transform: uppercase;
  z-index: 510;
}

#viewerselector ul li a:hover {
  background-color: rgb(80,80,80,0.7);
}

#viewerselector ul {
  overflow: auto;
  list-style: none;
  cursor: pointer;
  padding: 0px;
}

#mapviewer .columnRight {
  padding:10px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.54);
}

#timelineviewer .columnRight {
  padding:10px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.54);
}

#mapviewer .columnRight {
  background-color: rgba(0, 0, 0, 0.54);
}

#mapviewer .columnLeft h3 {
  text-shadow: 0px 2px black;
}

div#attribution {
  position: absolute;
  right: 70px;
  bottom: 20px;
  z-index: 500;
  color: white;
  font-size: 10px;
  font-family: 'roboto';
  padding-left: 15px;
}

div#attribution a {
  color: white;
}

#title-mobile {
  position: absolute;
  z-index: 1000;
  font-family: 'roboto';
  text-align: center;
  width: 100%;
  font-weight: 800;
  font-size: 24px;
  font-family: 'roboto';
  margin-top: 10px;
  color: #333333;
  display: none;
}

#mobile-title2 {
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 5px;
  color: #999999;
  font-family: 'roboto';
}

.leaflet-zoom-box-control.leaflet-bar.leaflet-control a.zoomBox {
  line-height: 36px !important;
  height: 36px !important;
}

div#mobilepopupholder {
  display: none;
  z-index: 1;
}

/* Mobile Version */

@media (max-width: 600px) {
  div#iconkey {
    right: auto;
    text-align: left;
    bottom: 25px;
    display: block;
    left: -15px
  }
  div#viewerselector {
    margin-top: 0px;
  }
  .notreal div#title {
    bottom: auto;
    top: -18px;
    transform: scale(0.8);
    left: -8px;
  }
  .leaflet-zoom-box-control {
    display: none;
  }
  #title-mobile {
    display: block;
  }
  #title {
    display: none;
  }
  #timelineviewer {
    height: 100vh !important;
    margin-top: 0px;
  }
  #container {
    background-color: #e6e6e6;
    position: absolute;
  }
  div#mobilepopupholder {
    position: fixed;
    bottom: 0px;
    width: 90%;
    z-index: 1000;
    background-color: #ffffff;
    padding: 10px 5% 20px 5%;
    display: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  }
  #mobilepopupholder .year-location {
    font-family: 'roboto';
    font-size: 1.2em;
    border-bottom: solid 2px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 700;
  }
  #mobilepopupholder .title {
    font-family: 'roboto';
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  #mobilepopupholder .description {
    font-size: 1em;
    font-family: 'roboto';
    line-height: 1.5em;
  }
  #mobilepopupholder a.exit img {
    width: 50px;
    height: 50px;
    position: relative;
    float: right;
    top: -35px;
  }
  #mobilepopupholder a.exit {
    background-color: lightgray;
  }
  .customPopup {
    display: none;
  }
}
